## Separação tabelas

Nesse notebook a base de dados final é separada em tabelas complementares

In [1]:
import pandas as pd
from utils.load_csv import load_csv
from utils.save_csv import save_csv

In [2]:
dados_parlamentares = load_csv('dados_parlamentares.csv')

In [3]:
dados_cadastrais = dados_parlamentares[['id_deputado', 'nome_civil', 'nome_urna']]

save_csv(dados_cadastrais, 'dados_cadastrais.csv')

dados_cadastrais

Base salva em data\dados_cadastrais.csv

      id_deputado                          nome_civil          nome_urna
0    250001611431         ROGERIO NOGUEIRA LOPES CRUZ   ROGÉRIO NOGUEIRA
1    250001609973                   JORGE LUIS CARUSO             CARUSO
2    250001610018     ITAMAR FRANCISCO MACHADO BORGES      ITAMAR BORGES
3    250001597775           LEONARDO DE SIQUEIRA LIMA       LEO SIQUEIRA
4    250001610712            ARLINDO CHIGNALIA JUNIOR  ARLINDO CHINAGLIA
..            ...                                 ...                ...
159  250001611846         MARIA DO PARTO MENDES ROSAS        MARIA ROSAS
160  250001610130             FABIANA DE LIMA BARROSO         FABIANA B.
161  250001610201  GRACIELA DE LOURDES DAVID AMBROSIO  DELEGADA GRACIELA
162  250001611957                   FAUSTO RUY PINATO      FAUSTO PINATO
163  250001610316              RODRIGO GAMBALE VIEIRA    RODRIGO GAMBALE

[164 rows x 3 columns]

In [4]:
mandato = dados_parlamentares[['id_deputado', 'eleicao', 'cargo', 'partido', 'votos_total', 'votos_capital', 'votos_rmsp', 'votos_interior']]

save_csv(mandato, 'mandato.csv')

mandato

Base salva em data\mandato.csv

,id_deputado,eleicao,cargo,partido,votos_total,votos_capital,votos_rmsp,votos_interior
0,250001611431,ELEIÇÕES GERAIS ESTADUAIS 2022,Deputado Estadual,Partido da Social Democracia Brasileira,139756,2832,4481,135275
1,250001609973,ELEIÇÕES GERAIS ESTADUAIS 2022,Deputado Estadual,Movimento Democrático Brasileiro,82209,23771,34032,48177
2,250001610018,ELEIÇÕES GERAIS ESTADUAIS 2022,Deputado Estadual,Movimento Democrático Brasileiro,183480,13768,18981,164499
3,250001597775,ELEIÇÕES GERAIS ESTADUAIS 2022,Deputado Estadual,Partido Novo,90688,53542,65000,25688
4,250001610712,ELEIÇÕES GERAIS ESTADUAIS 2022,Deputado Federal,Partido dos Trabalhadores,144108,18584,37918,106190
...,...,...,...,...,...,...,...,...
159,250001611846,ELEIÇÕES GERAIS ESTADUAIS 2022,Deputado Federal,REPUBLICANOS,94787,11144,58886,35901
160,250001610130,ELEIÇÕES GERAIS ESTADUAIS 2022,Deputado Estadual,Partido Liberal,65497,7914,12666,52831
161,250001610201,ELEIÇÕES GERAIS ESTADUAIS 2022,Deputado Estadual,Partido Liberal,68955,3062,4358,64597
162,250001611957,ELEIÇÕES GERAIS ESTADUAIS 2022,Deputado Federal,PROGRESSISTAS,72169,3348,8227,63942
163,250001610316,ELEIÇÕES GERAIS ESTADUAIS 2022,Deputado Federal,Podemos,108209,6683,70563,37646

In [5]:
representatividade = dados_parlamentares[['id_deputado', 'rep_capital', 'rep_rmsp', 'rep_interior', 'ranking_total', 'ranking_capital', 'ranking_rmsp', 'ranking_interior']]

save_csv(representatividade, 'representatividade.csv')

representatividade

Base salva em data\representatividade.csv

,id_deputado,rep_capital,rep_rmsp,rep_interior,ranking_total,ranking_capital,ranking_rmsp,ranking_interior
0,250001611431,2.026389,3.206302,96.793698,69,141,145,15
1,250001609973,28.915326,41.396927,58.603073,130,84,112,102
2,250001610018,7.503815,10.344997,89.655003,38,105,122,10
3,250001597775,59.039785,71.674312,28.325688,115,44,77,142
4,250001610712,12.895884,26.312210,73.687790,62,94,107,32
...,...,...,...,...,...,...,...,...
159,250001611846,11.756886,62.124553,37.875447,109,110,87,125
160,250001610130,12.082996,19.338290,80.661710,153,120,130,99
161,250001610201,4.440577,6.320064,93.679936,150,139,146,76
162,250001611957,4.639111,11.399631,88.600369,146,137,135,77
163,250001610316,6.176011,65.209918,34.790082,93,122,69,122